.wrapper-basket {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 1286px;
	border: 1px solid black;

	.product {
		display: flex;
    flex-direction: column;
    justify-content: normal;
    margin-bottom: 28px !important;
    width: 1070px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
	
		table {
			border-collapse: collapse;
			border: 1ps solid  #666;
	
			.full-total {
				padding: 0;
	
				&__text {
					display: inline-block;
					list-style: none;
					border: 1px solid  blue;
					width: 124px;
					padding: 5px;
					height: 30px;
				}
	
				&__prise {
					display: inline-block;
					list-style: none;
					width: 78px;
					height: 30px;
					text-align: start;
					border: 1px solid  blue;
					padding: 5px;
				}
	
				.container_btn {
					display: inline-block;
					list-style: none;
					border: 1px solid  blue;
					width: 40px;
					height: 30px;
					
	
					&__btn-update-cart {
						width: 25px;
						height: 25px;
					}
				}
			}
		}
	
	}
}

@media(max-width:768px) {
	.wrapper-basket {
		width: 768px;

		.product {
			width: 600px;
		}
	}
}


@media(max-width:400px) {
	.wrapper-basket {
		width: 400px;

		.product {
			width: 200px;
		}
	}
}


