.wrapper-massage {
  display: none;
  position: relative;
  width: 173px;
  height: 80px;

  .massage {
    position: absolute;
    background-color: #303030;
    border-radius: 5%;
    width: 173px;
    height: 80px;
    border: 1px solid;
    left: 61px;
    bottom: 78px;

    .text {
      color: white;
      text-align: center;
      margin-top: 8px;
    }
  }
}

