.wreaper-learn_more {
  display: flex;
  flex-direction: column;
  justify-content:normal;
  background-color: whitesmoke;
  width: 1286px;

  .main {
    display: flex;
    height: 100%;
    width: 1115px;
    flex-wrap: nowrap;
    margin: 0 auto;

    .model-items {
      background-color: rgba(0, 0, 0, var(--bg-opacity));
      --bg-opacity: 0.75;
      position: fixed;
      display: none;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      user-select: none;
      z-index: 100;
    }

      &__block {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        width: 1115px;
        display: flex;
        flex-direction: row;
        justify-content:normal;
        background-color: whitesmoke;
  
       .block-left {
          display: flex;
          flex-direction: column;
          justify-content:normal;
          width: 227px;

          .wrapper-rating {
            display: flex;
            flex-direction: column-reverse;
            justify-content: normal;
            margin: 0 auto;
            width: 234px;

            .wrapper-chose {
              display: flex;
              justify-content: space-around;
              flex-direction: row;
              width: 116px;
              margin: 0 auto;

              .number-rating {
                width: 50%;
                height: 100%;
                color: green;
                position: relative;
              }

              .click-stars {
                color: green;
                cursor: pointer;
                text-align: center;
              }
    
              .click-stars:hover { 
                text-decoration: underline; 
               }
            }
          
             .rating {
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                font-size: 30px;
                // border: 1px solid black;
            
              &__container {
                position: relative;
            
                .rating-active {
                  position: absolute;
                  width: 0%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  overflow: hidden;
                }
            
                .rating-active::before {
                  content:"★★★★★";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  color: #ffd300;
                }
            
                .wrapper-active {
                  display: flex;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
            
                  &__item {
                    flex: 0 0 20%;
                    height: 100%;
                    opacity: 0;
                  }
                }
              }
            
              &__container::before {
                display: block;
                content:"★★★★★";
              }
            
              &__value {
                font-size: 18px;
                line-height: 1;
                padding: 0px 0px 0px 10px;
              }
            }
          }

          .picture {
            margin: 0 auto;
            width: 192px;
            height: 200px;
          }

          .block-btn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            margin: 0 auto;
            height: 103px;


            &__btn-add,
            .btn-wish {
              margin: 5px;
              width: 174px;
              height: 28px;
              background-color: red;
              font-weight: bold;
              color: white;
              border: none;
              cursor: pointer;
              border-radius: 5px;
              font-size: 10px
            }

            .test {
              width: 174px;
              height: 28px;
            }

            .spinner-border-sm {
              position: absolute;
              left: 162px;
              top: 77px;
              width: 7px;
              height: 7px;
              display: none;
            }

            #cart {
              position: absolute;
              left: 162px;
              top: 36px;
              width: 7px;
              height: 7px;
              display: none;
            }
          }

          .status-query {
            margin: 0 auto;
            height: 100px;
            width: 190px;

            &__response {
              color: black;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
            }
          }
        }
        
        .block-description {

          .des-book {
            width: 882px;

            &__description {

              .description {
                font-size: 18px;
              }
            }
            
            &__recommendations {
              font-size: 18px;

              .recommendations {
                font-size: 18px;
              }
            }

            &__book-story {
              display: none;
              flex-wrap: nowrap;
              height: 100%;

              &__about-book {
                font-size: 18px;
              }
            }

            .read-more {
              width: 150px;
              height: 20px;

              .more {
                cursor: pointer;
                color: green;
              }

              .more:hover {
                text-decoration: underline;
              }
            }

            .author {
              display: flex;

              .book-author {
                margin-top: 28px;
                margin-bottom: 13px;
              }
            }
          }
        } 
  
      }
  }

  .panel-reviews {
    display: flex;
    width: 1283px;
    border: 1px solid;
    height: 45px;
    background-color:black;
    align-items: center;
    margin-top: 12px;

    &__swich {
      margin: 0 auto;
      cursor: pointer;
      font-weight: bold;
      color: white;
    }

    &__swich:hover {
      text-decoration: underline;
      color:red; 
    }
  }

  .wrapper-reviews {
    display: none;

    .comments {
      margin-top: 17px;
    
      display: flex;
      flex-direction: column;
      justify-content:normal;
    
      &__leave {
        display: flex;
        flex-direction: row;
        justify-content:normal;
        margin: 33px 64px;
        width: 900px;
        margin: 0 auto;
    
        &__users {
          background: white;
          width: 196px;
          height: 250px;
    
          .photo {
            width: 194px;
            height: 193px;
          }
    
          .fullName {
            color: black;
            text-align: center;
          }
        }
    
        &__block {
          width: 881px;
          height: 250px;

          .form-control{
            height: 180px;
            border: none;
          }
    
          &__add_comment {
            display: flex;
            flex-direction: row;
            justify-content:start;
    
            .time {
              color: white;
              margin-left: 11px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1156px) {
  .wreaper-learn_more {
    width: 1156px;

    .main {
      width: 1156px;

      &__block {
        width: 1156px;
      }
    }

    .panel-reviews {
      width: 1149px;
    }
  }
}

@media(max-width: 1022px) {
  .wreaper-learn_more {
    width: 1022px;

    .main {
      width: 1022px;

      &__block {
        width: 1022px;

        .block-description {
          
          .des-book {
            width: 693px;
          }
        }
      }
    }

    .panel-reviews {
      width: 1016px;
    }

    .wrapper-reviews {

      .comments {
        
        &__leave {
          width: 806px;
        }
      }
    }
  }
}

@media(max-width: 912px) {
  .wreaper-learn_more {
    width: 912px;

    .main {
      width: 912px;

      &__block {
        width: 912px;

        .block-description {

          .des-book {
            width: 620px;
          }
        }
      }
    }

    .panel-reviews {
      width: 908px;
    }

    .wrapper-reviews {

      .comments {
        
        &__leave {
          width: 637px;
        }
      }
    }
  }
}

@media(max-width: 850px) {
  .wreaper-learn_more {
    width: 850px;

    .main {
      width: 850px;

      &__block {
        width: 850px;

        .block-left {
          width: 164px;

          .wrapper-rating {
            width: 131px;

            .rating {
              font-size: 20px;

              &__value {
                font-size: 15px;
              }
            }
          }

          .picture {
            width: 126px;
            height: 138px;
          }

          .block-btn {

            &__btn-add,
            .btn-wish {
              width: 120px;
              font-size: 9px;
            }

            #cart,
            .spinner-border {
              left: 120px;
            }
          }

          .status-query {
            width: 131px;
          }
        }

        .block-description {

          .des-book {
            width: 486px;
          }
        }
      }
    }

    .panel-reviews {
      width: 848px;
    }
  }
}

@media(max-width: 768px) {
  .wreaper-learn_more {
    width: 768px;

    .main {

      &__block {
        width: 768px;
      }
    }

    .panel-reviews {
      width: 767px;
    }
  }  
}

@media(max-width: 670px) {
  .wreaper-learn_more {
    width: 670px;

    .main {

      &__block {
        width: 670px;
      }
    }

    .panel-reviews {
      width: 669px;
    }

    .wrapper-reviews {

      .comments {
        width: 600px;

        &__leave {
          width: 504px;
  
          &__users {
            width: 184px;
            height: 219px;
  
            .photo {
              width: 102px;
              height: 111px;
            }
          }
          
          &__block {

            .form-floating {

              .form-control {
                height: 146px;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 592px) {

  .wreaper-learn_more {

    .wrapper-reviews {

      .comments {
  
        &__leave {
          color: black;
          flex-direction: column;
  
          &__users {
            display: grid;
            grid-template-columns: 1fr 6fr;
            height: 53px;
            width: 451px;
  
            .photo {
              width: 48px;
              height: 48px;
              border-radius: 50%;
            }
  
            .fullName {
              margin-top: 10px;
            }
          }
          
          &__block {
            width: 429px;

          }
        }
      }
    }
  }
}

@media(max-width: 570px) {
  .wreaper-learn_more {

    .main {

      &__block {

        .block-description {

          .des-book {
            width: 369px;
          }
        }
      }
    }
  } 
}

@media(max-width: 520px) {
  .wreaper-learn_more {
    width: 520px;

    .main {
      width: 520px;

      &__block {
        width: 520px;

        .block-description {

          .des-book {
            width: 340px;
          }
        }
      }
    }

    .panel-reviews {
      width: 519px;
    }

    .wrapper-reviews {
     
      .comments {
        width: 555px;
        margin: auto;
        margin-top: 35px;
       
        &__leave {
          width: 460px;

          &__users {
            width: 356px;
          }

          &__block {
            width: 333px;

            &__add_comment {

              button {
                font-size: 12px;
              }

              .time {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  } 
}

@media(max-width: 480px) {

  .wreaper-learn_more {
    width: 480px;

    .main {
      width:480px;

      &__block {
        width: 520px;

        .block-description {

          .des-book {
            width: 298px;
          }
        }
      }
    }

    .panel-reviews {
      width: 476px;
    }
    
    .wrapper-reviews {

      .comments {
        width: 475px;

        &__leave {
          width: 341px;

          &__users {
            width: 343px;
          }

          &__block {
            width: 318px;

            &__add_comment {

              .time {
                font-size: 10px;
              }
            }
          }
        }
     
      }
    }
  } 
}

@media(max-width: 480px) {
  .wreaper-learn_more {
    width: 480px;

    .main {
      width:480px;

      &__block {
        width: 520px;

        .block-description {

          .des-book {
            width: 298px;
          }
        }
      }
    }

    .panel-reviews {
      width: 519px;
    }
  }
}

@media(max-width: 448px) {
  .wreaper-learn_more {
    width: 448px;

    .main {
      width:480px;

      &__block {
        width: 448px;
        flex-direction: column;

        .block-left {
          width: 304px;
          margin: 0 auto;

          .wrapper-rating {
            margin-top: 10px;
            width: 301px;

            .rating {
              font-size: 30px;
            }
          }

          .picture {
            width: 262px;
            height: 312px;
          }

          .block-btn {

            &__btn-add,
            .btn-wish {
              font-size: 15px;
              width: 277px;
            }

            #cart,
            .spinner-border {
              left: 21px;
            }
          }

          .status-query {
            width: 298px;
          }
        }

        .block-description {
          margin: 0 auto;
        }
      }
    }

    .panel-reviews {
      width: 441px
    }
  }
}

@media(max-width: 414px) {
  .wreaper-learn_more {
    width: 414px;

    .main {
      width: 414px;

      &__block {
        width: 414px;
      }
    }

    .panel-reviews {
      width: 413px;
    }

    .wrapper-reviews {

      .comments {

        &__leave {
          width: 400px;

          &__users {
            width: 297px;
          }

          &__block {
            width: 274px;

          }
        }

      }
    }
  }
}

@media(max-width: 399px) {
  .wreaper-learn_more {
    width: 399px;

    .main {
      width: 399px;

      &__block {
        width: 399px;
      }
    }

    .panel-reviews {
      width: 399px;
    }
  }
}

@media(max-width: 379px) {
  .wreaper-learn_more {
    width: 379px;

    .main {
      width: 379px;

      &__block {
        width: 379px;
      }
    }

    .panel-reviews {
      width: 379px;
    }
  }
}

@media(max-width: 360px) {
  .wreaper-learn_more {
    width: 360px;

    .main {
      width: 312px;

      &__block {
        width: 298px;
      }
    }

    .panel-reviews {
      width: 360px;
    }

    .wrapper-reviews {

      .comments {
        width: 323px;

        &__leave {
          width: 310px;
        }
      }
    }
  }
}

@media(max-width: 320px) {
  .wreaper-learn_more {
    width: 320px;

    .main {
      width: 320px;

      &__block {
        width: 320px;
      }
    }

    .wrapper-reviews {

      .comments {
        width: 323px;
      }
    }

    .panel-reviews {
      width: 320px;
    }
  }
}
