.todo {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  margin: 0 auto;
  width: 900px;

  .comments-todo {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: normal;
  
  
      &__fullName {
        width: 205px;
        display: flex;
        flex-direction: column;
        justify-content:normal;
        background-color: whitesmoke;
  
        .user-name {
          text-align: center;
        }
  
        .user-photo {
          width: 131px;
          height: 143px;
        }

        .time-comment {
          font-size: 9px;
          font-weight: bold;
          margin: auto;
        }
      }
  
      &__description {
        word-wrap: break-word;
        width: 843px;
        display: flex;
        flex-direction: column;
        justify-content:normal;
  
        .container-comment {
          position: relative;
  
          &__input_text {
            background-color: #fff;
            width: 813px;
            height: 166px;
            border: none;
            padding: 13px;
          }
  
          &__time {
            position: absolute;
            top: 154px;
          }
  
        }
  
        .block-btns {
          display:flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: black;
          height: 54px;
          align-items: center;
  
          .block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 344px;
    
            &__remove_comment,
            &__btn_update {
              width: 167px;
              height: 37px;
              color: #fff;
              border-radius: 0.25rem;
              border: none;
              margin: 2px;
              background-color: #dc3545;
              border-color: #dc3545;
            }
    
            &__send_update {
              display: none;
              width: 167px;
              height: 37px;
              color: #fff;
              border-radius: 0.25rem;
              background-color: red;
              border-color: red;
            }
            &__time-comment {
              color: #fff;
            }
          }

          .time {
            display: none;
            color: white;
            font-weight: bold;
            margin-top: 11px;
          }
    
          .block-likes {
            margin-right: 6px;

            .btn-danger,
            .btn-primary {
              position: relative;
              width: 41px;
              height: 24px;

              .number {
                position: absolute;
                top: 8px;
                left: 41px;
                color: #fff;
              }
            }
  
            .bi-hand-thumbs-up {
              position: absolute;
              left: 4px;
              width: 24px;
              top: 6px;
            }
          }
        }
      }
    }
}


@media(max-width: 1150px) {
  .todo {

    .comments-todo {

      &__description {

        .container-comment{

          &__input_text {
            width: 770px;
          }
        }
      }
    }
  }
}


@media(max-width: 1020px) {
  .todo {
    width: 798px;

    .comments-todo {

      &__description {

        .container-comment{

          &__input_text {
            width: 674px;
          }
        }

        .block-btns {

          .block {
            width: 237px;
    
            button {
              font-size: 12px;
            }
          }
        }
      }
    }

  }
}


@media(max-width: 850px) {
  .todo {
    width: 647px;

    .comments-todo {

      &__description {

        .container-comment{

          &__input_text {
            width: 510px;
          }
        }

        .block-btns {

          .block {
            width: 237px;
    
            button {
              font-size: 12px;
            }
          }

          .time {
            font-size: 12px;
          }
        }
      }
    }

  }
}

@media(max-width: 670px) {
  .todo {
    width: 585px;

    .comments-todo {
      flex-direction: column;
      justify-content: normal;

      &__fullName {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        background-color: white;
        width: 535px;

        .user-photo {
          width: 47px;
          height: 49px;
          border-radius: 50%;
        }

        .user-name {
          font-size: 12px;
          margin-top: 22px;
          width: 125px;
        }

        .time-comment {
          margin-top: 22px;
          width: 170px;
          font-size: 12px;
        }
      }

      &__description {

        .block-btns {
          width: 536px;

          .block {
            width: 159px;

            button {
              width: 67px;
            }
          }
        }
      }
    }
  }
}



@media(max-width: 592px) {
  .todo {
    width: 562px;

    .comments-todo {

      &__fullName {
        width: 450px;

        .time-comment {
       
        }
      }

      &__description {

        .container-comment {

          textarea {
            width: 425px;
          }
        }

        .block-btns {
          width: 450px;

        }
      }
    }
  }
}


@media(max-width: 580px) {
  .todo {
    width: 577px;
  }
}


@media(max-width: 520px) {
 
  .todo {
    width: 424px;

    .comments-todo {
     

      &__fullName {
        width: 367px;

        .time-comment {
       
        }
      }

      &__description {

        .container-comment {

          textarea {
            width: 344px;
          }
        }

        .block-btns {
          width: 373px;

        }
      }
    }
  }
}

@media(max-width: 448px) {
  .todo {
    width: 349px;
  }
}

@media(max-width: 414px) {
  .todo {
    width: 359px;
  }
}

@media(max-width: 414px) {

  .todo {
    width: 319px;

    .comments-todo {

      &__fullName {
        width: 316px;

        .user-name {
          margin-top: 0;
          width: 68px;
        }

        .time-comment {
       
        }
      }

      &__description {

        .container-comment {

          textarea {
            width: 292px;
          }
        }

        .block-btns {
          width: 322px;

          .time {
            font-size: 9px;
          }
        }
      }
    }
  }
}

