.wrapper {
  display: flex;
	flex-direction: column;
	justify-content:normal;
  width: 1286px;
  height: 1340px;
  background-color: white;

  .header-account {
    width: 1286px;
    height: 147px;
  }

  .main-account {
    display: flex;
    flex-direction: row;
    justify-content:normal;
    width: 1015px;
    height: 314px;
    margin: 0 auto;

    &__photo-block {
      display: flex;
      flex-direction: column;
      justify-content:normal;
      width: 224px;

      .photo-user {
        height: 200px;
        width: 200px;
        position: relative;

        &__avatar {
          width: 200px;
          height: 200px;
        }

        &__delete {
          width: 24px;
          height: 24px;
          position: absolute;
          bottom: 195px;
          right: 198px;
          cursor: pointer;
        }
      }

      .btn-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 121px;
        width: 223px;

        &__form-group {

          .label {
            width: 150px;
            height: 38px;
            color: white;
            border: 2px solid #242424;
            background-color: #dc3545;
            border-radius: 5px;
            display: block;
            transition: border 300ms ease;
            cursor: pointer;
            text-align: center;
            margin: 0 auto;

            &__title {
              color: #fff;
            }
          }

          .label:hover {
            border: 2px solid whitesmoke;
            border-color: #b02a37;
            background-color: #b02a37;
          }

          input[type=file] {
            outline: 0;
            opacity: 0;
            pointer-events: none;
            user-select: none
          }
        }
      }

      .btn-danger {
        width: 150px;
        height: 38px;
        margin: 0 auto;
      }
    }

    &__inf-block {
      display: flex;
      flex-direction: column;
      justify-content:start;
      width: 786px;
      margin: 2px;

      .fullNeme {
        width: 398px;
        height: 76px;
        border-bottom: 3px solid black;
        position: relative;

        &__user_name {
          color: #382110;
          position: absolute;
          top: 23px;
        }

        .change-date {
          position: absolute;
          left: 362px;
          top: 33px;
        }
      }

      .additional {
        width: 398px;
        height: 76px;

        &__date_regestration,
        &__birth {
          color: #382110;
          font-weight: bold;
        }
      }

      .Change-profile {
        display: none;
        width: 250px;
        height: 132px;
        position: relative;

        .profile-fullName {
          background-color: #333;
          border: none;
          border-radius: 0.3rem;
          outline: none;
          color: #fff;
          padding: 16px 20px 0;
          font-size: 1rem;
          margin: 3px;
        }

        label {
          position: absolute;
          color: #8c8c8c;
          pointer-events: none;
          left: 21px;
        }

        .block-btns {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 175px;
          margin-top: 2px;
          margin-left: 5px;

          .btn-profile {
            width: 64px;
            height: 24px;
            background-color: red;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .user-wishlist {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 1015px;
    height: 595px;
    margin: 0 auto;

    &__title {
      position: relative;
      width: 1015px;
      height: 38px;
      border-bottom: 1px solid black;

      .title-block {
        position: absolute;
        color: #382110;
        font-weight: bold;
        margin-left: 29px;
        left: 12px;
        top: 7px;
      }

      .open-list {
        position: absolute;
        width: 25px;
        top: 5px;
        cursor:pointer;
      }
    }

    &__product {
      position: relative;

      .container_product {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        position: absolute;
        top: 11px;
        left: 83px;
        overflow-y: scroll;
        width: 907px;
        height: 500px;

        &__book {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 789px;
          height: 181px;
          margin: 0 auto;

          .photo-book {
            width: 200px;
            height: 200px;

            &__frame {
              width: 150px;
              height: 150px;
            }
          }

          .block-imformation {
            width: 288px;

            &__product {
              color:#382110;
              font-weight: bold;
              cursor: pointer;
            }

            &__product:hover {
              text-decoration: underline;
             }

             &__author,
             &__cost {
              color:black; 
              font-weight: bold;
             }
          }

          .block-quantity {
            position: relative;

            .items-quantity {
              border-radius: 4px;
              height: 55px;
              width: 92px;
            }

            .input_label {
              position: absolute;
              left: 2px;
            }
          }

          .block_btns {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 90px;
            height: 132px;

            .btns {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 98px;
              position: relative;


              .spinner-border {
                display: none;
                position: absolute;
                top: 14px;
                left: 5px;
                width: 5px;
                height: 5px;
              }

            }

            .btn-trash {
              width: 18%;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1152px) {
	.wrapper {
		width: 1152px;
	}
}

@media(max-width: 1020px) {
	.wrapper {
		width: 1020px;

    .main-account {
      width: 843px;
    }

    .user-wishlist {
      width: 842px;

      &__title {
        width: 842px;
      }

      &__product {

        .container_product {
          left: 5px;
          width: 834px;
        }
      }
    }
	}
}

@media(max-width:912px) {
  .wrapper {
		width: 912px; 

    .main-account {
      width: 656px;
    }

    .user-wishlist {
      width: 692px;

      &__title {
        width: 694px;
      }

      &__product {

        .container_product {
          width: 676px;

          &__book {
            width: 565px;
            justify-content: space-around;

            .photo-book {
              width: 91px;
              height: 127px;

              &__frame {
                width: 89px;
                height: 101px
              }
            }

            .block-imformation {
              width: 209px;

              p {
                font-size: 12px;
              }
            }

            .block_btns {

              .btns {

                button {
                  font-size: 11px;
                  }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .wrapper {
    width: 768px;

    .main-account {
      width: 446px;

      &__photo-block {
        width: 133px;

        .photo-user {
          height: 166px;

          &__avatar {
            width: 126px;
            height: 159px;
          }

          &__delete {
            width: 17px;
            height: 20px;
            bottom: 163px;
            right: 201px;
          }
        }

        .btn-block {
          height: 32px;
          width: 133px;

          &__form-group {

            .label {
              width: 122px;
              margin: 0;
            }
          }
        }
      }

      &__inf-block {

        .fullNeme {
          width: 303px;

          h1 {
            font-size: 22px;
            top: 45px;
          }

          .change-date {
            left: 280px;
          }
        }

        .additional {
          width: 306px;

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media(max-width:670px) {

  .wrapper {
    width: 670px; 

    .user-wishlist {
      width: 614px;

      &__title {
        width: 614px;
      }

      &__product {

        .container_product {
          width: 591px;
        }
      }
    }
  }
}

@media(max-width: 580px) {

  .wrapper {
    width: 580px;
  }
}

@media(max-width: 520px) {
  .wrapper {
    width: 520px;

    .user-wishlist {
      width: 434px;

      &__title {
        width: 436px;
      }

      &__product {

        .container_product {
          width: 406px;

          &__book {
            margin: 0;
            width: 382px;

            .photo-book {
              display: none;
            }

            .block-imformation {
              width: 143px;
            }

            .block-quantity {

              .items-quantity {
                height: 54px;
                width: 56px;
              }
            }

            .block_btns {
              width: 66px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 480px) {
  .wrapper {
    width: 480px;

    .main-account {
      width: 341px;
      height: 270px;

      &__photo-block {
        width: 93px;

        .photo-user {
          height: 135px;

          &__avatar {
            width: 89px;
            height: 123px;
          }

          &__delete {
            bottom: 133px;
            right: 200px;
          }
        }

        .btn-block {
          height: 31px;
          width: 88px;

          &__form-group {

            .label {
              width: 89px;
              font-size: 14px;
              height: 24px;
            }
          }
        }
      }

      &__inf-block {

        .fullNeme {
          width: 237px;

          h1 {
            font-size: 15px;
            top: 57px;
          }

          .change-date {
            left: 217px;
          }
        }

        .additional {
          width: 237px;
          height: 42px;

          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media(max-width: 448px) {
  .wrapper {
    width: 448px;
    height: 1261px;
  }
}

@media(max-width:414px) {
  .wrapper {
    width: 414px;

    .user-wishlist {
      width: 367px;

      &__title {
        width: 366px;
      }

      &__product {

        .container_product {
          width: 347px;

          &__book {
            width: 322px;
          }
        }
      }
    }
  }
}

@media(max-width: 379px) {
  .wrapper {
    width: 379px;
  }
}

@media(max-width: 360px) {
  .wrapper {
    width: 360px;
    height: 578px;

    .main-account {
      width: 300px;
     border: 1px solid;

      &__photo-block {
        border: 1px solid;

        .photo-user {
          border: 1px solid;
          height: 83px;
          width: 63px;

          &__avatar {
            width: 59px;
            height: 76px;
          }

          &__delete {
            bottom: 82px;
            right: 64px;
          }
        }

        .btn-block {
          height: 58px;
          width: 62px;
          border: 1px solid;

          &__form-group {

            .label {
              width: 58px;
              height: 40px;
              font-size: 12px;
            }
          }
        }
      }

      &__inf-block {

        .fullNeme {
          width: 231px;

          h1 {
            font-size: 13px;
          }

          .change-date {
            left: 207px;
          }
        }

        .additional {

          p {
            font-size: 9px;
          }
        }

        .Change-profile {

          input {
            padding: 10px 6px 0;
          }

          label {
            font-size: 9px;
            left: 7px;
          }

          .block-btns {
            width: 126px;

            button {
              width: 44px;
              height: 20px;
              font-size: 9px;
            }
          }
        }
      }
    }

    .user-wishlist {
      width: 300px;

      &__title {
        width: 300px;
      }

      &__product {

        .container_product {
          width: 293px;

          &__book {
            width: 271px;

            .block-imformation {
              width: 105px;

              p {
                font-size: 10px;
              }
            }

            .block-quantity {

              .items-quantity {
                height: 28px;
                width: 32px;
                font-size: 9px;
              }

              label {
                font-size: 9px;
              }
            }

            .block_btns {
              width: 88px;

              .btns {

                .spinner-border {
                  top: 9px;
                }
              }
            }
          }
        }
      }
    }
  }
}
