.wrapper {
  display: flex;
	flex-direction: column;
	justify-content:normal;
  width: 1286px;
  height: 1340px;
  // border: 1px solid black;
  background-color: white;

  .header-account {
    width: 1286px;
    height: 147px;
  }

  .main-account {
    display: flex;
    flex-direction: row;
    justify-content:normal;
    width: 1015px;
    height: 314px;
    margin: 0 auto;
   

    &__photo-block {
      display: flex;
      flex-direction: column;
      justify-content:normal;
      width:224px;

      .photo-user {
        height: 200px;
        width: 200px;
        position: relative;
        
        &__avatar{
          width: 200px;
          height: 200px;
        }

        &__delete {
          width: 24px;
          height: 24px;
          position: absolute;
          bottom: 195px;
          right: 198px;
          cursor: pointer;
        }
      }

      .btn-block {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        // border:1px solid black;
        height: 121px;
        width: 223px;

        &__form-group {
          

          .label {
            width: 150px;
            height: 38px;
            color: white;
            border:2px solid #242424;
            background-color: #dc3545;
            border-radius:5px;
            display:block;
            transition:border 300ms ease;
            cursor:pointer;
            text-align:center;
            margin: 0 auto;

            &__title {
              color: #fff;

            }
          }

          .label:hover {
            border:2px solid whitesmoke;
            border-color: #b02a37;
            background-color: #b02a37;
          }

          input[type=file] {
            outline:0;
            opacity:0;
            pointer-events:none;
            user-select:none
          }
        }
      }

      .btn-danger {
        width: 150px;
        height: 38px;
        margin: 0 auto;
      }
    }

    &__inf-block {
      display: flex;
      flex-direction: column;
      justify-content:start;
      // border: 1px solid black;
      width: 786px;
      margin: 2px;

      .fullNeme {
        width: 398px;
        height: 76px;
        border-bottom: 3px solid black;
        position: relative;

        &__user_name {
          color: #382110;
          position: absolute;
          top: 23px;
        }

        .change-date {
          position: absolute;
          left: 362px;
          top: 33px;
        }
      }

      .additional {
        width: 398px;
        height: 76px;

        &__date_regestration,
        &__birth {
          color: #382110;
          font-weight: bold;
        }
      }

      .Change-profile {
        display: none;
        width: 250px;
        height: 132px;
        position: relative;


        .profile-fullName {
          background-color: #333;
          border: none;
          border-radius: 0.3rem;
          outline: none;
          color: #fff;
          padding: 16px 20px 0;
          font-size: 1rem;
          margin: 3px;
        }

        label {
          position: absolute;
          color: #8c8c8c;
          pointer-events: none;
          left: 21px;
        }

        .block-btns {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 175px;
          margin-top: 2px;
          margin-left: 5px;
         

          .btn-profile {
            width: 64px;
            height: 24px;
            background-color: red;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .user-wishlist {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 1015px;
    height: 595px;
    margin: 0 auto;

    &__title {
      position: relative;
      width: 1015px;
      height: 38px;
      border-bottom: 1px solid black;

      .title-block {
        position: absolute;
        color: #382110;
        font-weight: bold;
        margin-left: 29px;
        left: 12px;
        top: 7px;
      }

      .open-list {
        position: absolute;
        width: 25px;
        top: 5px;
        cursor:pointer;
      }
    }

    &__product {
      position: relative;
     

      .container_product {
        display: flex;
        flex-direction: column;
        justify-content:normal;
        position: absolute;
        top: 11px;
        left: 83px;
        overflow-y: scroll;
        width: 907px;
        height: 500px;
  
        &__book {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 789px;
          height: 181px;
          margin: 0 auto;
  
  
          .photo-book {
            width: 200px;
            height: 200px;
  
            &__frame {
              width: 150px;
              height: 150px;
            }
          }

          .block-imformation {
            width: 288px;

            &__product {
              color:#382110; 
              font-weight: bold;
              cursor: pointer;
            }

            &__product:hover { 
              text-decoration: underline; 
             }

             &__author,
             &__cost {
              color:black; 
              font-weight: bold;
             }
          }

          .block-quantity {
            position: relative;

            .items-quantity {
              border-radius: 4px;
              height: 55px;
              width: 92px;
            }

            .input_label {
              position: absolute;
              left: 2px;
            }
          }

          .block_btns {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 90px;
            height: 132px;

            .btns {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 98px;
            }

            .btn-trash {
              width: 18%;
              margin-left: auto;
            }
          }

        }
      }
    }
  
  }
}
.footer {
  width: 1286px;
  height: 35;
  border: 1px solid black;
}


@media(max-width:1152px) {
	.wrapper {
		width: 1152px;
	}

}

@media(max-width:1020px) {
	.wrapper {
		width: 1020px;

    .main-account {
      width: 843px;
    }

    .user-wishlist {
      width: 842px;
      border: 1px solid;

      &__title {
        width: 842px;
      }

      &__product {

        .container_product {
          left: 5px;
          width: 834px;
        }
      }
    }
	}
  
}


@media(max-width:912px) {
  .wrapper {
		width: 912px; 

    .user-wishlist {
      // width: 842px;
      border: 1px solid;

      &__title {
        width: 700px;
      }

      &__product {

        .container_product {

          &__book {
            justify-content: normal;
            
            .photo-book {
              width: 91px;
              height: 127px;
              border: 1px solid;

              &__frame {
                width: 89px;
                height: 101px;
              }
            }

            .block-imformation {
              border: 1px solid;
            }

            .block-quantity {
              border: 1px solid;
            }

            .block_btns {
              border: 1px solid;
            }
          }
          // left: 5px;
          // width: 834px;
        }
      }
    }

  }
}