*, ::after, ::before {
  box-sizing: unset !important;
}

* ul, p{
  margin-top: 0;
  margin-bottom:0;
} 

.header {
  width: 1286px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content:normal;
  background-color: #303030;



  &__title {
    width: 1286px;
    height: 50px;
    background-color: red;

    &__top {
      font-weight: bold;
      color: whitesmoke;
      text-align: center;
      margin-top: 11px;
    }
  }

  &__search {
    width: 1286px;
    height: 52px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    .home-link {
      display: flex;
      justify-content: space-between;
      width: 198px;
      height: 43px;

      &__home-page {
        cursor: pointer;
        height: 28px;
        margin-top: auto;

      }

      &__text {
        font-weight: bold;
        color: white;
        margin-left: 9px;
        margin-top: auto;
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: normal;
      height: 43px;
      width: 358px;

     &__search-books {
      width: 31px;
      display: flex;
      height: 37px;
    
      .search_btn {
        cursor: pointer;
        width: 15px;
        margin-top: auto;
      }
     }

      &__account {
        display: flex;
        width: 100px;

        .block-menu {
         position: relative;
         margin-top: auto;

          .menu {
            position: absolute;
            display: none;
            width: 150px;
            height: 90px;
            top: 31px;
            right:-102px;
            background-color: whitesmoke;
           }
  
           li {
             cursor: pointer;
           }
           li:hover { 
            text-decoration: underline; 
          }
        }
      }

      &__sign-up {
        display: flex;
        width: 81px;
      }

      &__sign-in {
        display: flex;
      }

      &__basket {
        position: relative;
        height: 43px;
        width: 81px;

        .basket-shop {
          position: absolute;
          cursor: pointer;
          width: 25px;
          height: 25px;
          left: 15px;
          top: 12px;
        }
        .display {
          position: absolute;
          left: 36px;
          width: 20px;
          height: 20px;
          border-radius: 50px;
          background-color: whitesmoke;

          &__count {
            font-weight: bold;
            color: black;
            text-align: center;
          }
        }
      }

      p {
        color: whitesmoke;
        font-weight: bold;
        margin-top: auto;
        cursor: pointer;
      }

      p:hover {
        text-decoration: underline;
        color:red; 
      }

    }

  }
}

@media(max-width:1152px) {

  .header {
    width: 1150px;

    &__title,
    &__search {
      width: 1150px;
    }
  } 

}



@media(max-width:1024px) {

  .header {
    width: 1022px;

    &__title,
    &__search {
      width: 1022px;
    }
  } 
    

}

@media(max-width:912px) {
  
  .header {
    width: 912px;

    &__title,
    &__search {
      width: 912px;
    }
  }
}

@media(max-width:850px) {
  
  .header {
    width:850px;

    &__title,
    &__search {
      width:850px;
    }
  }
}

@media(max-width:768px)  {
  .header {
    width: 768px;

    &__title  {
      width: 768px;

      &__top {
        font-size: 14px;
      }
    }

    &__search {
      width: 768px;

      .home-link {
        width: 159px;
        font-size: 12px;

        &__home-page {
          width: 32px;
        }
      }

      .navigation {
        width:292px;

        &__account {
          width:71px;
        }

        &__sign-up {
          width:62px;
        }

        &__basket {

          .basket-shop {
            width: 28px;
            height:18px;
            left:9px;
            top:24px;
          }

          .display {
            width:17px;
            height:17px;
            top:9px;
          }
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media(max-width:670px) {

  .header {
    width:670px;

    &__title,
    &__search {
      width:670px;
    }
  }
}


@media(max-width:520px) {

  .header {
    width:520px;

    &__title,
    &__search {
      width:520px;
    }
  }

}

@media(max-width:480px) {

  .header {
    width:480px;

    &__title,
    &__search {
      width:480px;
    }
  }

}

@media(max-width: 448px)  {
  .header {
    justify-content: space-around;
    height: 109px;
    width: 448px;

    &__title {
      width: 448px;

      &__top {
        font-size: 10px;
      }
    }

    &__search {
      flex-direction: column;
      justify-content: space-between;
      width: 448px;
      height: 65px;

      .home-link {
        display: flex;
        margin: auto;
        justify-content: normal;
        width: 124px;

        &__home-page {
          width: 18px;
        }

        &__text {
          font-size: 9px;
        }
      }

      .navigation {
        justify-content: space-around;
        width: 442px;
      
        div {
          margin: auto;
        }

        &__search-books {
          width: 27px;

          .search_btn {
            margin: auto;
          }
        }

        &__account {
          width: 74px;
        }

        &__sign-up {
          width: 78px;
        }

        &__sign-in {
          width: 66px;
        }

        &__basket {
          height: 30px;

          .basket-shop {
            top: 6px;
            left: 2px;
            width: 16px;
            height: 16px;
          }

          .display {
            width: 17px;
            height: 17px;
            top: 0px;
            left: 15px;
          }
        }
      }
    }  
  }
}

@media(max-width:414px) {

  .header {
    width:414px;

    &__title,
    &__search {
      width:414px;
    }
  }
}

@media(max-width:399px) {

  .header {
    width:399px;

    &__title,
    &__search {
      width:399px;
    }
  }

}

@media(max-width:379px) {

  .header {
    width:379px;

    &__title,
    &__search {
      width:379px;

      .navigation {
        width: 366px;
      }
    }
  }

}

