<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
  </head>
    <body>
      <div class="wrapper-sign-up">
        <div class="sign-up-header"></div>
        <div class="sign-up-spinner" ></div>
        <div class="contener-sign-up">
          <div class="form-wrapper">
            <form class="form">
              <h1>SIGN-UP</h1>
              <div class="form-group ">
                <input id="firstNameInput" class="form-control">
                <p id="firstNameInputError" class="invalid-input-message"></p>
                <label for="firstNameInput">First name</label>
              </div>
              <div class="form-group ">
                <input id="lastNameInput" class="form-control">
                <p id="lastNameInputError" class="invalid-input-message"></p>
                <label for="lastNameInput">Last name</label>
              </div>
              <div class="form-group ">
                <input id="birthInput" type="date" class="form-control">
                <p id="birthInputError" class="invalid-input-message"></p>
                <label for="birthInput">Birth</label>
              </div>
              <div class="form-group">
                <input id="emailInput" type="email" class="form-control">
                <p id="emailInputError" class="invalid-input-message"></p>
                <p id="requiredEmailInputError" class="invalid-input-message"></p>
                <label for="emailInput">Email address</label>
              </div>
              <div class="form-group">
                <input  id="passwordInput1" class="form-control">
                <p class="display-massages"></p>
                <p id="passInputError1" class="invalid-input-message"></p>
                <label for="passwordInput1">Password</label>
              </div>
              <div class="form-group">
                <input type="password" id="passwordInput2" class="form-control">
                <p type="password" id="passInputError2" class="invalid-input-message"></p>
                <label for="passwordInput2">Repeat password</label>
              </div>
              <button id="signUpBtn" disabled type="button"  class="btn-sign-up">SIGN-UP</button>
              <p>
                <a href="sign-in.html">I've already have an account</a>
             </p>
            </form>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>
