.spinner {
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  --bg-opacity: 0.75;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 100;

  .spinner-block {
    height: 47em;
    position: relative;
  }


  .spinner-border {
    color: red !important;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}