
.wrapper-shop {
	display: flex;
	flex-direction: column;
	justify-content:normal;
	width: 1286px;
	height: 1700px;
  font-family: sans-serif;
  background-color: black;

	.header-wrapper {
		position: sticky;
		top: 4px;
		z-index: 1000;
	}

	.main-products {
		width: 1244px;

		&__list_books {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			width:1126px;
			margin: auto;
			background-color: black;

			.products-container {
				width: 231px;
				height: 348px;
				display: flex;
				flex-direction: column;
				justify-content: end;
				background-color:#303030;
				margin: 7px 18px;

				&__rating-stars {
					width: 100px;
					height: 23px;

					.rating {
						margin-left: 15px;
					}
				}

				&__product  {
					width: 197px;
					height: 51px;
					padding: 9px;
					word-wrap: break-word;
					font-size: 14px;
					margin-left: 10px;

					.title {
						font-weight: bold;
						margin-top: 15px;
						margin-bottom: auto;
						color: white;
					}
				}

				&__photo {
					width: 123px;
					height: 113px;
					margin: auto;
				}

				&__author {
					font-weight: bold;
					margin-top: 15px;
					margin-left: 16px;
					font-size: 12px;
					color:white;
				}

				&__cost {
					font-weight: bold;
					color:white;
					margin-left: 16px;
					margin-top: 8px;
					font-size: 12px;
				}

				&__more {
					width: 153px;
					height: 27px;
					margin: auto;
					border-radius: 40px;
					background-color: red;
					font-weight: bold;
					color:white;
					border: none;
					cursor: pointer;
				}
			}
		}
	}

	.btn-container {
		display: flex;
  	align-items: center;
		background-color: black;
		width: 1286px;
		height: 143px;

		.btn-page {
			display: flex;
			flex-direction: row;
			justify-content:space-around;
			width: 290px;
			height: 45px;
			margin: auto;

			.btn-number-page.active {
				display: block;
				color: whitesmoke;
				background-color: gray;
				height: 45px;
				width: 35px;
				border-radius: 3px;
				height: 40px;
    		line-height: 40px;
				border: none;
				cursor: pointer;
			}

			.btn-number-page.active:hover {
				box-shadow: inset 0 0 0 2px #3a7999;
			}

			.btn-number-page {
				display: none;
			}
		}
	}

	.footer-after {
		width: 1286px;
    height: 15px;
		background-color: #303030;
	}
}

@media(max-width: 1152px) {
	.wrapper-shop {
		width: 1152px;

		.main-products {
			width: 1130px;
		}

		.btn-container,
		.footer-after {
			width: 1152px;
		}
	}
}

@media(max-width: 1090px) {
	.wrapper-shop {
		width: 1090px;

		.main-products {
			width: 1090px;

			&__list_books {
				width: 900px;

				.products-container {
					width: 180px;

					&__product {
						width: 140px;
					}
				}
			}
		}

		.btn-container,
		.footer-after {
			width: 1090px;
		}
	}
}

@media(max-width: 1030px) {
	.wrapper-shop {
		width: 1030px;

		.main-products {
			width: 1034px;
		}

		.btn-container,
		.footer-after {
			width: 1030px;
		}
	}
}

@media(max-width: 1020px) {
	.wrapper-shop {
		width: 1020px;

		.btn-container,
		.footer-after {
			width: 1020px;
		}
	}
}

@media(max-width: 973px) {
	.wrapper-shop {
		width: 973px;

		.main-products {
			width: 962px;
		}

		.btn-container,
		.footer-after {
			width: 973px;
		}
	}
}

@media(max-width: 928px) {
	.wrapper-shop {
		width: 928px;

		.main-products {
			width: 920px;
		}

		.btn-container,
		.footer-after {
			width: 928px;
		}
	}
}

@media(max-width: 912px) {
	.wrapper-shop  {
		width: 912px;
		height: 1995px;

		.main-products {
			width: 912px;

			&__list_books {
				width: 839px;
				margin-top: 23px;
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.btn-container,
		.footer-after {
			width: 912px;
		}
	}
}

@media(max-width: 873px) {
	.wrapper-shop {
		width: 873px;

		.main-products {
			width: 898px;
		}

		.btn-container,
		.footer-after {
			width: 873px;
		}
	}
}

@media(max-width: 850px) {
	.wrapper-shop {
		width: 850px;

		.main-products {
			width: 851px;

			&__list_books {
				width: 700px;
			}
		}

		.btn-container,
		.footer-after {
			width: 850px;
		}
	}
}

@media(max-width: 820px) {
	.wrapper-shop {
		width: 820px;

		.main-products {
			width: 823px;
		}

		.btn-container,
		.footer-after {
			width: 820px;
		}
	}
}

@media(max-width: 800px) {
	.wrapper-shop {
		width: 800px;

		.main-products {
			width: 788px;
		}

		.btn-container,
		.footer-after {
			width: 800px;
		}
	}
}

@media(max-width: 768px) {
	.wrapper-shop {
		width: 768px;

		.main-products {
			width: 764px;

			&__list_books {
				width: 654px;
			}
		}

		.btn-container,
		.footer-after {
			width: 768px;
		}
	}
}

@media(max-width: 740px) {
	.wrapper-shop {
		width: 740px;

		.main-products {
			width: 720px;
		}

		.btn-container,
		.footer-after {
			width: 740px;
		}
	}
}

@media(max-width: 710px) {
	.wrapper-shop {
		width: 710px;

		.main-products {
			width: 699px;
		}

		.btn-container,
		.footer-after {
			width: 710px;
		}
	}
}

@media(max-width: 670px) {
	.wrapper-shop {
		width: 670px;
		height: 2697px;

		.main-products {
			width: 670px;

			&__list_books {
				width: 430px;
				grid-template-columns: 1fr 2fr;
			}
		}

		.btn-container,
		.footer-after {
			width: 670px;
		}
	}
}

@media(max-width: 645px) {
	.wrapper-shop {
		width: 645px;

		.main-products {
			width: 621px;
		}

		.btn-container,
		.footer-after {
			width: 645px;
		}
	}
}

@media(max-width: 620px) {
	.wrapper-shop {
		width: 620px;

		.main-products {
			width: 585px;
		}

		.btn-container,
		.footer-after {
			width: 620px;
		}
	}
}

@media(max-width:600px) {
	.wrapper-shop {
		width: 600px;

		.btn-container,
		.footer-after {
			width: 600px;
		}
	}
}

@media(max-width:560px) {
	.wrapper-shop {
		width: 560px;

		.main-products {
			width: 550px;
		}

		.btn-container,
		.footer-after {
			width: 560px;
		}
	}
}

@media(max-width: 520px) {
	.wrapper-shop {
		width: 520px;

		.main-products {
			width: 520px;
		}

		.btn-container,
		.footer-after {
			width: 520px;
		}
	}
}

@media(max-width: 480px) {
	.wrapper-shop {
		width: 480px;

		.main-products {
			width: 469px;

			&__list_books {
				width: 420px;
			}
		}

		.btn-container,
		.footer-after {
			width: 480px;
		}
	}
}

@media(max-width: 448px) {
	.wrapper-shop {
		width: 448px;

		.main-products {
			width: 444px;

			&__list_books {
				width: 315px;

				.products-container {
					width: 129px;

					&__product {
						width: 95px;

						.title {
							font-size: 12px;
						}
					}

					&__photo {
						width: 111px;
						height: 99px;
					}

					&__more {
						width: 100px;
					}
				}
			}
		}

		.btn-container,
		.footer-after {
			width: 448px;
		}
	}
}

@media(max-width: 414px) {
	.wrapper-shop {
		width: 414px;

		.main-products,
		.btn-container,
		.footer-after {
			width: 414px;
		}
	}
}

@media(max-width: 399px) {
	.wrapper-shop {
		width: 399px;

		.main-products,
		.btn-container,
		.footer-after {
			width: 399px;
		}
	}
}

@media(max-width: 379px) {
	.wrapper-shop {
		width: 379px;

		.main-products,
		.btn-container,
		.footer-after {
			width: 379px;
		}
	}
}

@media(max-width: 360px) {
	.wrapper-shop {
		width: 360px;

		.main-products,
		.btn-container,
		.footer-after {
			width: 346px;
		}
	}
}

@media(max-width: 320px) {
	.wrapper-shop {
		width: 320px;

		.main-products,
		.btn-container,
		.footer-after {
			width: 310px;

			&__list_books {

				.products-container {
					width: 123px;
				}
			}
		}
	}
}
