tr {
  
  td {
    border: 1px solid #666;
    padding: 5px 10px;
    text-align: center;

    .photo-product {
      width: 60px;
    }

    .title {
      font-size: 28px;
      line-height: 40px;
    }
  }
}