.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1286px;
  height: 280px;
  background-color: black;
  margin-top: 4px;

  .top {
    width: 896px;
    height: 50px;
    display: flex;
    margin: 0 auto;

    &__link {
      color: #757575;
      text-decoration: none;
    }

    &__link:hover {
      text-decoration: underline;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 896px;

    .link-footer {
      color: whitesmoke;
      font-weight: bold;
      display: inline-block;
      width: 286px;///
      margin-bottom: 17px;
      text-decoration: none;
    }

    .link-footer:hover {
      text-decoration: underline;
    }
  }
  
}


@media(max-width:1152px) {

  .footer {
    width: 1152px;
  }

}

@media(max-width:1020px) {

  .footer {
    width: 1020px;
  }

}

@media(max-width:912px) {

  .footer {
    width: 912px;
  }

}

@media(max-width:850px) {

  .footer {
    width: 850px;

    .top,
    .links {
      width: 667px;
    }
  }

}

@media(max-width:768px)  {
  .footer {
    width: 768px;
  }
}

@media(max-width:670px) {
  .footer {
    width: 670px; 

    .top,
    .links {
      width: 577px;
    }
  }
}

@media(max-width:520px) {
  .footer {
    width: 520px; 

    .top {
      width: 182px;
      margin-top: 28px;
    }
    .links {
      width: 182px;
    }
  }
}

@media(max-width:480px) {
  .footer {
    width: 480px; 
  }
}

@media(max-width:444px) {
  .footer {
    width: 444px; 
  }
}

@media(max-width:414px) {
  .footer {
    width:414px; 
  }
}

@media(max-width:399px) {
  .footer {
    width:399px; 
  }
}


@media(max-width:379px) {
  .footer {
    width:379px; 
  }
}

