.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1286px;
  height: 280px;
  background-color: black;
  margin-top: 4px;

  .top {
    width: 896px;
    height: 50px;
    display: flex;
    margin: 0 auto;

    &__link {
      color: #757575;
      text-decoration: none;
    }

    &__link:hover {
      text-decoration: underline;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 896px;

    .link-footer {
      color: whitesmoke;
      font-weight: bold;
      display: inline-block;
      width: 286px;///
      margin-bottom: 17px;
      text-decoration: none;
    }

    .link-footer:hover {
      text-decoration: underline;
    }
  }
}

@media(max-width:1152px) {

  .footer {
    width: 1152px;
  }
}

@media(max-width:1090px) {
  .footer {
    width: 1090px;
  }
}

@media(max-width:1030px) {
  .footer {
    width: 1030px;
  }
}

@media(max-width:1024px) {

  .footer {
    width: 1024px;
  }
}

@media(max-width:973px) {
  .footer {
    width: 973px;
  }
}

@media(max-width:928px) {
  .footer {
    width: 928px;
  }
}

@media(max-width:912px) {
  .footer {
    width: 912px;
  }
}

@media(max-width:873px) {
  .footer {
    width: 873px;
  }
}

@media(max-width:850px) {
  .footer {
    width: 850px;
    
    .top,
    .links {
      width: 667px;
    }
  }

}

@media(max-width:820px) {
  .footer {
    width: 820px;
  }
}

@media(max-width:800px) {
  .footer {
    width: 800px;
  }
}

@media(max-width:768px)  {
  .footer {
    width: 768px;
  }
}

@media(max-width:740px) {
  .footer {
    width: 740px;
  }
}

@media(max-width:710px) {
  .footer {
    width: 710px;
  }
}

@media(max-width:670px) {
  .footer {
    width: 670px; 

    .top,
    .links {
      width: 577px;
    }
  }
}

@media(max-width:645px) {
  .footer {
    width: 645px;
  }
}

@media(max-width:620px) {
  .footer {
    width: 620px;
  }
}

@media(max-width:600px)  {
  .footer {
    width: 600px;
  }
}

@media(max-width:560px) {
  .footer {
    width: 560px;
  }
}

@media(max-width:520px) {
  .footer {
    width: 520px; 

    .top {
      width: 182px;
      margin-top: 28px;
    }
    .links {
      width: 182px;

      a {
        font-size: 12px;
      }
    }
  }
}

@media(max-width:480px) {
  .footer {
    width: 480px; 
  }
}

@media(max-width:444px) {
  .footer {
    width: 444px; 
  }
}

@media(max-width:414px) {
  .footer {
    width:414px; 
  }
}

@media(max-width:399px) {
  .footer {
    width:399px; 
  }
}


@media(max-width:379px) {
  .footer {
    width:379px; 
  }
}

@media(max-width:360px) {
  .footer {
    width:360px; 
  }
}

@media(max-width:320px) {
  .footer {
    width:320px; 
  }
}
